*
{
    background: url(/assets/images/cave.png) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "myFont";
    
}   

@font-face {
    font-family: "myFont";
    src: url(/assets/sf_fedora/SFFedoraTitlesItalic.ttf);
}

h1 {
    font-family: "myFont";
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
    
}

.rules {
    font-size: 20px;
    color: yellow;
    width: 300px;


}
.scoreboard {
    font-size: 20px;
    color: yellowgreen;
    float: right;
}

.crystals {
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.crystal {
    image-rendering: auto;
    height: 150px;
    widows: 150px;
    background: green;
}