*
{
    background: url(/assets/images/Petra-Jordan-4.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "myFont";
    
}   

@font-face {
    font-family: "myFont";
    src: url(/assets/sf_fedora/SFFedora.ttf);
}

h1 {
    font-family: "myFont";
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
    
}
.collector{
    max-width:960px ;
}
.rules {
    font-size: 20px;
    color: greenyellow;
    width: 300px;
    margin: 0%;
    float: right;

}
.scoreboard {
    font-size: 20px;
    color: rgb(170, 230, 50);
    float: left;
    background-color: white;
}

.crystals {
    display: flex;
    float: left;
    justify-content: space-between;

}
/* *{
    clear: both;
} */

img{
    width: 100px;
    height: 100px;
}